pipeline/WeatherPipeline.json
{
	"name": "WeatherPipeline",
	"properties": {
		"activities": [
			{
				"name": "RetrieveAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://amruthkeyvault2.vault.azure.net/secrets/OpenWeatherAPIKey?api-version=7.0\n",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0, 2)\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "RetrieveWeatherData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "WeatherRESTDataset",
									"type": "DatasetReference",
									"parameters": {
										"apiKeyParam": {
											"value": "@variables('apiKey')",
											"type": "Expression"
										},
										"startDateParam": {
											"value": "@{div(sub(ticks(addDays(utcNow(), mul(-7, add(item(), 1)))),ticks('1970-01-01T00:00:00Z')), 10000000)}",
											"type": "Expression"
										},
										"endDateParam": {
											"value": "@{div(sub(ticks(addDays(addDays(utcNow(), mul(-7,add(item(),1))), 7)), ticks('1970-01-01T00:00:00Z')), 10000000)}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Json_Weather",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RetrieveAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "apiKey",
					"value": {
						"value": "@activity('RetrieveAPIKey').output.value\n",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"apiKey": {
				"type": "String"
			}
		},
		"annotations": []
	}
}